azure-functions
pandas
pyarrow
azure-storage-blob
azure-cosmos
python-dateutil
python-dotenv
numpy
tzdata
--extra-index-url https://download.pytorch.org/whl/cpu
torch
pytorch-lightning
scikit-learn
joblib